.search-box {
    margin: auto;
    padding: 10px;

    width: 30%;
    text-align: center;
    z-index: 1000;
    color: white;
    top: 50%;
    position: relative;
    align-content: center;
}

input {
    border-radius: 20px;
    justify-content: space-evenly;
}

.searchBtn {
    margin-left: 4px;
}

label {
    margin-right: 4px;
}

.radioBtn {
    margin-right: 2px;
}

