/* body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSozAGeohB4uJHCkmj2kx0hJpG2GNFZWyd7Ow&usqp=CAU");
   
} */

ul {
  padding-top: 4px;
}

a, a.nav-link {
  color: goldenrod
}