
.card {
    display: flex;
    z-index: 0;
}

.contentCard {

    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    box-shadow: 10px 5px 5px white;
    text-shadow: 2px 2px 5px black;
}


.card-img-top {
    width: 50%;
}