.headline {
    text-align: center;
}

.intro {
    color: whitesmoke;
    text-align: center;
    
}

.getStarted {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    
}


.container {
    height: 120vh;
    margin-top: 30px;
}

img {
    width: 50%;
    margin: auto;
    
}

#brenImg {
    width: 100%;
}

h5, p, h2, h4 {
    color: goldenrod;
}

em {
    color: white;
}

.carousel-inner{
    padding-top: 10px;
}

.carousel-item {
    text-align: center;
}

#blakeImg {
    width: 100%;
}
