.headline {
    text-align: center;
}

.intro {
    color: whitesmoke;
    text-align: center;
    
}

.getStarted {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    
}
#getStarted {
    margin-top: 15px;
    width: 60vh;
    height: 9vh;

}
.carousel-item {
    height: 35rem;
    color: black;
    position: relative;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    margin-left: 1vh;
}
.container1{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    margin-left: 3vh;

}
.container2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    margin-left: 3vh;


}
.devPicks {
    text-align: center;
    margin-top: 30px;
    color: orangered;
}

.devPickBy {
    color: orangered;
}

.gif {
    margin-top: 10%;
    display: flex;
  justify-content: center;
  z-index: 10;
}

#gladiator img {
    width: 30rem;
}

#fifth img {
    width: 30rem;
}

