.headline {
    text-align: center;
}

.carousel-item {
    height: 35rem;
    /* border: solid black; */
    color: black;
    position: relative;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    background-color: transparent;
}
.container1{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    background-color: transparent;

}
.container2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 30px;
    background-color: transparent;

}
.devPick {
    color: yellowgreen;
}

.gif {
    margin-top: 10%;
    display: flex;
  justify-content: center;
  z-index: 10;
}

#gladiator img {
    width: 30rem;
}

#fifth img {
    width: 30rem;
}