input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
}

.signupCard {
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.allSignup {
    width: 70%;
    margin: auto;
}

section {
    padding-top: 30px;
}
